* {
  /* border: 1px dashed blue; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, hsl(214, 44%, 89%), hsl(224, 44%, 89%));
  font-family: "@Microsoft Yahei Ui Light";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 600px;
  padding: 12px;
  background: #fafafa;
  box-shadow: 0px 0px 30px -8px hsl(218, 14%, 77%), 8px 0 20px -10px hsl(0, 0%, 80%) inset, -8px 0 20px -10px hsl(0, 0%, 80%) inset;

  font-size: 26px;
  text-align: center;
  border-radius: 40px;
  /* overflow: hidden; */
}

.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 40px;
  border-radius: 0 0 20px 20px;
  border: 4px solid rgb(231, 231, 231);
  border-top: none;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  padding: 10px 10px 0px 10px;
  color: grey;
}

.cover-container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.cover-container > img {
  display: block;
  width: 100%;
  border-radius: 20px;
  opacity: 0.78;
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: -10%;
  bottom: 101%;
  padding: 10px;

  background: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: 0.5s;
}

.track-list {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background: rgba(250, 250, 250, 0.4);
  box-shadow: 0 0 2px 2px #00000008;
  border-radius: 10px;
  transition: box-shadow 0.5s;
  overflow: hidden;
}
.track-list img {
  display: block;
  float: left;
  width: 50px;
  padding-right: 10px;
  opacity: 0.8;
}
.track-list small {
  display: block;
}
/* .track-list:after {
    content: "";
    display: table;
    clear: both;
} */

.info {
  margin-top: 16px;
}
.info small {
  display: block;
  margin-top: 10px;
}
small#title {
  letter-spacing: 2px;
}
small#artist {
  font-size: 16px;
  color: darkkhaki;
}

input#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  outline: none;
  border-radius: 50%;
  background: hsl(214, 44%, 90%);
  transition: 0.2s;
  cursor: pointer;
}
input#slider:hover {
  background: hsl(214, 44%, 90%);
}
input#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: hsl(214, 44%, 80%);
  transition: 0.1s;
  cursor: grab;
}
input#slider::-webkit-slider-thumb:hover {
  width: 24px;
  height: 24px;
}

.timer {
  color: grey;
  font-size: small;
}

.control {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 1px solid hsl(214, 44%, 85%);
  background: hsl(214, 44%, 90%);
  cursor: pointer;
  /* transition: .3s; */
}
.button:hover {
  background: hsl(214, 44%, 80%);
}
.button:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}
.small {
  width: 40px;
  height: 40px;
  font-size: medium;
}

.button#back i {
  transform: translateX(-15%);
}
.button#play i {
  transform: translateX(10%);
}
.button#next i {
  transform: translateX(15%);
}

input#volume {
  transform: translateY(-9px);
  -webkit-appearance: none;
  height: 2px;
  outline: none;
  background: hsl(214, 44%, 89%);
  border-radius: 50%;
  cursor: pointer;
}
input#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: hsl(214, 44%, 70%);
  cursor: grab;
}

#volume-btn {
  /* border: 2px solid red; */
  border: none;
  outline: none;
  background: transparent;
}

#volume-btn i {
  font-size: 16px;
  transform: scale(1.4);
  color: grey;
}

.volume-slider {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -35px;
  right: -19%;
  transform: translateY(10px);
  width: 50%;
  background: hsl(0, 0%, 98%);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}
.volume-slider:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#volume-btn:focus > i {
  color: #5a86bf;
}

#volume-btn:focus + .volume-slider {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.effect {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* <toggle-switch> */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
}
.toggle-switch .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dadada;
  /* box-shadow: 0 0 4px 0 lightcoral; */
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-btn::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* -webkit-transition: 0.5s; */
  /* transition: 0.5s; */
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.switch-btn:active:before {
  width: 40px;
}
.checkbox:checked + .switch-btn {
  background-color: lightgreen;
  box-shadow: 0 0 8px 0 lightgreen;
}
.checkbox:checked + .switch-btn::before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); */
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.switch-btn.round,
.switch-btn.round:before {
  border-radius: 30px;
}
/* </toggle-switch> */

.settings-container {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 110%;
  overflow: hidden;
  width: 250px;
  height: 0;
  padding: 14px;
  border-radius: 20px;
  background-color: #fafafa;
  font-size: 1rem;
  text-align: left;
  transition: 0.3s;
}

.setting {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
/* 
  instagram: web.script
  github: github.com/miladxdev
  © 2021 Milad Gharibi. All rights reserved 
*/
