* {
    /* border: 1px dashed blue; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    background: #e5ecf5;
    background: linear-gradient(to bottom right, hsl(214, 44%, 93%), hsl(230, 44%, 90%));
    font-family: '@Microsoft Yahei Ui Light';
    display: flex;
    justify-content: center;
    align-items: center;
}



.player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 580px;
    padding: 20px;
    background: #fafafa;
    
    box-shadow: 
        0px 0px 30px -8px #bcc2cc,
        8px 0 20px -10px hsl(0, 0%, 80%) inset,
        -8px 0 20px -10px hsl(0, 0%, 80%) inset;
    
    font-size: 26px;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
}



.header {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    padding: 14px 0;
    color: rgb(83, 83, 83);
}
.speaker {
    width: 100px;
    height: 4px;
    border-radius: 40px;
    background: rgb(170, 170, 170);
}



.cover {
    position: relative;
    border-radius: 20px;
    /* box-shadow: 0 0 5px #e5ecf5; */
    overflow: hidden;
}
.cover img {
    display: block;
    width: 100%;
    opacity: .88;
}
.cover:hover #volume {
    opacity: 1;
}

input#volume {
    position: absolute;
    transform: translateX(-50%);
    width: 80%;
    bottom: 20px; left: 50%;
    -webkit-appearance: none;
    height: 2px;
    outline: none;
    background: grey;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease-out;
    opacity: 0;
    /* z-index: 100; */
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    /* background:red; */
    background: url(icon/medium_volume.svg) #fafafa;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: grab;
}

.info { margin-top: 10px; }
.info small { display: block; }
small#title { letter-spacing: 2px; }
small#artist {
    font-size: 16px;
    color: darkkhaki;
}



input#slider {
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    background: #e5ecf5;
    /* background: linear-gradient(to right, hsl(214, 45%, 85%) 50%, #e5ecf5 0%); */
    border-radius: 10px;
    
    width: 100%;
    transition: .2s;
    cursor: pointer;
}
input#slider:hover {
    background:hsl(214, 44%, 90%);
}
input#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: hsl(214, 44%, 80%);
    
    transition: .1s;
    cursor: grab;
}
input#slider::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
}

.timer {
    color: grey;
    font-size: small;
}



.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: hsl(214, 44%, 90%);
    /* border: 1px solid hsl(214, 44%, 85%); */
    cursor: pointer;
    transition: .3s;
}
.button:hover {
    background: hsl(214, 44%, 80%);
}

.button#back i { transform: translateX(-15%); }
.button#play i { transform: translateX(10%);   }
.button#next i { transform: translateX(15%);  }

.button.small {
    width: 40px;
    height: 40px;
    font-size: medium;
}
