* {
    /* border: 1px dashed blue; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, hsl(214, 44%, 93%), hsl(265, 44%, 90%));
    font-family: '@Microsoft Yahei Ui Light';
    display: flex;
    justify-content: center;
    align-items: center;
}



.player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 580px;
    padding: 20px;
    background: #fafafa;
    box-shadow: 
        0px 0px 30px -8px #bcc2cc,
        8px 0 20px -10px hsl(0, 0%, 80%) inset,
        -8px 0 20px -10px hsl(0, 0%, 80%) inset;
    
    font-size: 26px;
    text-align: center;
    border-radius: 40px;
    /* overflow: hidden; */
}



.header {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    padding: 4px;
    color: grey;
}

.cover-container {
    position: relative;
    border-radius: 20px;
    /* box-shadow: 0 0 5px #e5ecf5; */
    overflow: hidden;
}
.cover-container img {
    display: block;
    width: 100%;
    opacity: .88;
}
.cover-container:hover #volume {
    opacity: 1;
}

input#volume {
   
    /* position: absolute; */
    /* transform: translateX(-50%); */
    /* width: 80%; */
    /* bottom: 20px; left: 50%; */
    transform: translateY(-9px);
    -webkit-appearance: none;
    height: 2px;
    outline: none;
    background:hsl(214, 44%, 89%);
    border-radius: 50%;
    cursor: pointer;
    /* transition: 1s ease-out; */
    /* opacity: 0; */
    /* z-index: 100; */
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* border: 1px solid grey; */
    background:hsl(214, 44%, 70%);
    /* background: url(icon/medium_volume.svg) #fafafa; */
    /* background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; */
    cursor: grab;
}

/* .info { margin-top: 10px; } */
.info small { 
    display: block;
    margin-top: 10px;
}
small#title { letter-spacing: 2px; }
small#artist {
    font-size: 16px;
    color: darkkhaki;
}



input#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    outline: none;
    border-radius: 50%;
    background: hsl(214, 44%, 92%);
    /* background: red; */
    /* background: linear-gradient(to right, hsl(214, 45%, 85%) 50%, #e5ecf5 0%); */
    /* border-radius: 10px; */
    
    transition: .2s;
    cursor: pointer;
}
input#slider:hover {
    background:hsl(214, 44%, 90%);
}
input#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: hsl(214, 44%, 80%);
    
    transition: .1s;
    cursor: grab;
}
input#slider::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
}

.timer {
    color: grey;
    font-size: small;
}



.control {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: hsl(214, 44%, 90%);
    /* box-shadow: 0 0 10px hsl(214, 44%, 65%); */
    /* border: 1px solid hsl(214, 44%, 85%); */
    cursor: pointer;
    transition: .3s;
}
.button:hover {
    background: hsl(214, 44%, 80%);
}

.button#back i { transform: translateX(-15%); }
.button#play i { transform: translateX(10%);   }
.button#next i { transform: translateX(15%);  }

.button.small {
    width: 40px;
    height: 40px;
    font-size: medium;
}


#volume-btn {
    /* border: 2px solid red; */
    border: none;
    outline: none;
    background: transparent;
}

#volume-btn i {
    
    font-size: 16px;
    transform: scale(1.4);
    color: grey;

}
.volume-slider {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -30px;
    right: -19%;
    transform: translateY(10px);
    width: 50%;
    background: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 94%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
    border-radius: 40px;
    transition: .3s;
    
}
.volume-slider:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
}
#volume-btn:focus + .volume-slider {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.effect {
  animation: fade .5s ease-in;
}
@keyframes fade {
    from { transform: translateX(100px); }
    to { transform: translateX(0); }
}
/* instagram: web.script
github: github.com/xcripts
© 2020 Milad Gharibi. All rights reserved */